<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75645842647-adqohgs4ptsmg8l1rj6njro9skv28838.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75645842647-adqohgs4ptsmg8l1rj6njro9skv28838</string>
	<key>API_KEY</key>
	<string>AIzaSyDtD7wiSMbyCYFAkJUgSlZmlChfbBH-YTc</string>
	<key>GCM_SENDER_ID</key>
	<string>75645842647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uiuc.myclicker</string>
	<key>PROJECT_ID</key>
	<string>myclicker-3e892</string>
	<key>STORAGE_BUCKET</key>
	<string>myclicker-3e892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75645842647:ios:85b2622f95489708e66c92</string>
</dict>
</plist>